.jumbotron {
    position: relative;
    padding-top: 0.5em;
    padding-bottom: 3.5em;
    height: 151px;
    transition-duration: .5s;
}

.jumbotron:hover {
    transform: scale(1.05);
}

.title {
    color: white;
    text-shadow: 0 0 10px black;
}

.more {
    cursor: pointer;
    padding-left: 5px;
}

.details {
    position: absolute;
    padding: 0.5em 1em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #51759F;
    transform: translateX(97%);
}

.border-title {
    border-bottom: 2px solid white;
}

.no-padding-left {
    padding-left: 0px !important;
}

.no-padding {
    padding: 0px !important ; 
}
.detailed-information {
    line-height: 0.6;
    padding-top: 10px;
}
@media (max-width: 1000px) {
    .grafic {
        display:none;
    }
}