<div [@cityState]="city.state">
  <div class="jumbotron" [style.background-image]="cityImage">
    <div class="row">
      <div class="col-6 align-text-top text-left">
        <h2 class="title">
          {{(this.information.main) ? this.information.main.temp : 0}} Cº
          <img [src]="weatherImage" width="75" height="75">        
        </h2>
      </div>
      <div class="col-6 align-text-top text-right">
        <h2 class="title">{{ city.name }}</h2>
      </div>
    </div>
    <div class="row">
        <div class="col-12 align-text-top text-left title">
          <h4>{{ (this.information.weather) ? (this.information.weather[0].description | titlecase) : "No information" }}</h4>
        </div>
    </div>
    <div class="row">
      <div class="col-12 align-text-top text-left">
      </div>
    </div>
    <div class="details">
        <div class="row">
          <div class="col-1 md-auto d-flex align-items-center more" style="height: 135px" (click)="showDetails()">
            <h1 class="title text-left">{{ symbol }}</h1>
          </div>
          <div class="col-11">
            <div class="row">
              <div class="col text-right title border-title">
                <h5>Detalles</h5>                   
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 no-padding-left grafic">
                <div style="display: flex; align-self:center; justify-content:center; background-color:rgba(255, 255, 255, .95); width: 220px; height: 100px; margin: 5px; padding: 10px">
                <canvas baseChart
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [colors]="lineChartColors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"
                            width="200px"
                            height="95px"></canvas>
                </div>
              </div>
              <div class="col-4 col-xs-4 col-md-4 col-lg-5 text-center">        
                <label for="refresh-time" class="title">Tasa de refresco en ms</label>
                <br>          
                <input name="refresh-time" type="range" min="1000" max="600000" [value]="this.refreshTime" (change)="changeRefresh($event.target.value)">
                <br>
                <h3 class="title text-center">{{ this.refreshTime }}ms</h3>
              </div>
              <div class="col-8 col-xs-8 col-md-8 col-lg-3 detailed-information title">                                    
                <p class="text-right">Humedad: <span>{{ (this.information.main) ? this.information.main.humidity : 0 }}%</span></p>
                <p class="text-right">Presión: <span>{{ (this.information.main) ? this.information.main.pressure : 0 }}hPa</span></p>
                <p class="text-right">Viento: <span>{{ (this.information.main) ? this.information.wind.speed : 0 }}m/s</span></p>
                <p class="text-right">Temp: <span>{{ (this.information.main) ? this.information.main.temp_max : 0 }}º / {{ (this.information.main) ? this.information.main.temp_min : 0 }}º</span></p>                
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
