<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Angular Weather</h1>        
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-md-3 col-lg-3 text-center" style="margin-bottom: 15px">
        Aplicación realizada como parte de una prueba técnica para ALTRAN.
        <br><br> En esta se hace uso de un componente en el que se muestra información metereológica de una serie de ciudades, se ha creado un componente auxiliar encargado de mostrar la información de cada ciudad en específico.
        <br><br>  La información de la temperatura viene dada desde el servicio online de <a href="https://openweathermap.org">https://openweathermap.org</a>
        <br>
        <br>
        <br>
        <br>
        Programado por: Angel Soldado
        <br>
        <b>Contacto: </b> ansoldado@gmail.com
    </div>
    <div class="col-xs-12 col-md-9 col-lg-9">
      <p class="text-right white">Pulsa + para más información</p>
      <cities-weather-list></cities-weather-list>
    </div>
  </div>
</div>